# __SPARK ASSIGNMENT 1__
> Name : Ilias Dimos <br />
> AM : f2822102 <br />
> Course : Big Data Systems <br />
> Email : f2822102@aueb.gr <br />

## __TASK 2__
#### For this task you continue to work with SparkSQL. This time, you need to provide a Jupyter notebook (again using PySpark and Dataframes) that delivers the following:
#### __Dataset import.__

In [246]:
from pyspark.sql import SparkSession
#Builing the Spark session with name "Assignment_1_TASK_2
spark = SparkSession.builder.appName("Assignment_1_TASK_2").getOrCreate()

#Importing the "books_5000.json" file with the read.json() command.
dataset = spark.read.json("books_5000.json")
#Showing the first 5 lines of our dataset
dataset.show(5)

+----------+--------------------+--------------+--------+------------+--------------------+-------------------+---------+--------------------+--------+----------+-------------+-----------+-------------+--------------------+---------+--------------------+---------------+-----------------+----------------+--------------------+-------------+--------------------+--------------------+------------------+--------------------+--------------------+--------------------+--------+
|      asin|             authors|average_rating| book_id|country_code|         description|edition_information|   format|           image_url|is_ebook|      isbn|       isbn13|kindle_asin|language_code|                link|num_pages|     popular_shelves|publication_day|publication_month|publication_year|           publisher|ratings_count|              series|       similar_books|text_reviews_count|               title|title_without_series|                 url| work_id|
+----------+--------------------+--------------+--------+------------+--------------------+-------------------+---------+--------------------+--------+----------+-------------+-----------+-------------+--------------------+---------+--------------------+---------------+-----------------+----------------+--------------------+-------------+--------------------+--------------------+------------------+--------------------+--------------------+--------------------+--------+
|B00NLXQ534|       [{8551671, }]|          4.12|25742454|          US|Lillian Ann Cross...|                   |         |https://s.gr-asse...|    true|          |             |           |             |https://www.goodr...|         |[{228, to-read}, ...|               |                 |                |                    |            1|                  []|[25653153, 256991...|                 1|The Switchblade M...|The Switchblade M...|https://www.goodr...|42749946|
|          |       [{3274315, }]|          3.94|30128855|          US|Florence Dupre La...|                   |         |https://images.gr...|   false|2205073346|             |           |          fre|https://www.goodr...|         |[{2, bd}, {2, to-...|             22|                1|            2016|             Dargaud|           16|                  []|                  []|                 2|             Cruelle|             Cruelle|https://www.goodr...|50558228|
|          |         [{37450, }]|          4.28|13571772|          US|The questions pla...|                   |Hardcover|https://images.gr...|   false|          |             |           |          eng|https://www.goodr...|      146|[{493, to-read}, ...|               |                 |            2012|Hachette Partwork...|           51|[246830, 362583, ...|[13590139, 105963...|                 5|Captain America: ...|Captain America: ...|https://www.goodr...|  102217|
|B06XKGGSB7|[{16209952, }, {8...|          4.05|35452242|          US|The fight for Jas...|                   |         |https://s.gr-asse...|    true|          |             | B06XKGGSB7|          eng|https://www.goodr...|         |[{222, to-read}, ...|               |                 |                |                    |            6|                  []|                  []|                 1|Bounty Hunter 4/3...|Bounty Hunter 4/3...|https://www.goodr...|54276229|
|          |[{81563, }, {8953...|          4.06|  707611|          US|These are the sto...|                   |Hardcover|https://images.gr...|   false|0930289765|9780930289768|           |        en-US|https://www.goodr...|      272|[{20, to-read}, {...|             14|               11|            1997|           DC Comics|           51|   [266759, 1096220]|                  []|                 6|Superman Archives...|Superman Archives...|https://www.goodr...|  693886|
+----------+--------------------+--------------+--------+------------+--------------------+-------------------+---------+--------------------+--------+----------+-------------+-----------+-------------+--------------------+---------+--------------------+---------------+-----------------+----------------+--------------------+-------------+--------------------+--------------------+------------------+--------------------+--------------------+--------------------+--------+
only showing top 5 rows

#### __1) It returns the “book_id” and “title” of the book with the largest “average_rating” that its title starts with the first letter of your last name.__
* In this part of the assignment in order to compute the disired outcome we created a SQL query via PySpark with the following properties.
    * Create view named books.
    * Selects the book_id , title and the average_rating columns.
    * The columns have been selected from the books dataset.
    * Chooses the books where their title  starts with the letter `"D"` or `"d"`.
    * With the "orderby" function we ordered the outcome of the query based on  the average rating with descenting order to have the bigger values first.
    * With the "show(1)" command we print the first row and at the same time the `largest` average rating.
* The book with the largest average_rating has `Book_id` : __26025238__ , `Title` : __Dungeon Fun (Dungeon Fun #4)__

In [247]:
dataset.createOrReplaceTempView("books")

query = ''' SELECT book_id,title, average_rating
            FROM books 
            WHERE title LIKE 'D%' or title LIKE 'd%' '''

books_df_1 = spark.sql(query)

books_df_1.orderBy('average_rating', ascending=False).show(1,truncate=False)

+--------+----------------------------+--------------+
|book_id |title                       |average_rating|
+--------+----------------------------+--------------+
|26025238|Dungeon Fun (Dungeon Fun #4)|5.00          |
+--------+----------------------------+--------------+
only showing top 1 row

#### __2) It returns the average “average_rating” of the books that their title starts with the *second* letter of your last name.__
 * In this part of the assignment in order to compute the disired outcome we created a SQL query via PySpark with the following characteristics.
     * Selects and computes the average average_ratings.
     * From the view "books".
     * Chooses the books where their title starts with the letter `"I"` or `"i"`.
 * The `average` "average rating" of the books is : __3.955161290322582__

In [248]:
dataset.createOrReplaceTempView("books")

query = ''' SELECT avg(average_rating) as average 
            FROM books 
            WHERE title LIKE 'I%' or title LIKE 'i%' '''

books_df_2= spark.sql(query)

books_df_2.show()

+-----------------+
|          average|
+-----------------+
|3.955161290322582|
+-----------------+

#### __3) It returns the “book_id” and “title” of the Paperback book with the most pages, when only books with title starting with the *third* letter of your last name are considered.__
 * In this part of the assignment in order to compute the disired outcome we created a SQL query via PySpark with the following characteristics.
    * Creates a new dataframe named `dataset_paperback` that contains the books having `Paperback` format.
      * The Paperback format has 6 levels,based on the last query of the `Τask 1`, the : `Paperback,paperback,Mass Market Paperback,Trade Paperback,Paperback comic book,Paperback Manga`.
    * Turns the data type of the "num_page" from `String` to `Interger` with the `CAST` SQL function and saves it with the name `pages`.
    * Chooses the titles starting with letter `"M"` or `"m"` .
    * In order to print the pages in descenting order we used the `ORDER BY ... desc ` SQL function.
    * Because in the `SELECT` argument we print the pages of each book as extra , and the `task 3` only asks for the `book_id` and the `title` , with the command `.drop("pages")` we delete this extra column in order to print the desired outcome.
 * The book which is Paperback , has the most pages and is starting with the letter "M" or "m" has `book_id` : __28687715__ and `title` : __Mafalda: Todas las tiras.__

In [249]:
from pyspark.sql.functions import col
# We select the rows that their format is 'Paperback'
dataset_paperback=dataset.filter(col("format").isin('Paperback','paperback','Mass Market Paperback','Trade Paperback','Paperback comic book','Paperback Manga'))
dataset_paperback.createOrReplaceTempView("paperback_books")
query = ''' SELECT CAST(num_pages AS integer) as pages , book_id, title
            FROM paperback_books 
            WHERE title LIKE 'M%' or title LIKE 'm%' 
            ORDER BY pages desc'''
books_df_3 = spark.sql(query)
books_df_3.drop("pages").show(1,truncate=False)

+--------+------------------------+
|book_id |title                   |
+--------+------------------------+
|28687715|Mafalda: Todas las tiras|
+--------+------------------------+
only showing top 1 row